.wraper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .image-blur {
        display: block;
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 500px;
        filter: brightness(0.5) blur(20px);
        object-fit: cover;
    }
}

.box {
    color: var(--text-color);
    border-radius: 16px;
    background-color: var(--background-color);
    padding: 16px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 10px 10px 4px;
    height: auto;
}
.banner {
    position: relative;
    width: 1090px;
    height: 270px;
    margin-bottom: 80px;
    .banner-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .button-banner {
        position: absolute;
        bottom: 10px;
        right: 5px;
    }
}
.user {
    pointer-events: none;
    padding: 0 32px;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    gap: 16px;
    align-items: flex-end;
    transform: translateY(50%);
}
.user-avatar {
    pointer-events: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .avatar {
        border: 3px solid var(--background-color);
        width: 154px;
        height: 154px;
        border-radius: 50%;
        object-fit: cover;
    }
    .button {
        pointer-events: auto;
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 10;
    }
}
.user-name {
    pointer-events: auto;
    display: flex;
    gap: 8px;
    margin: 16px 0;
    position: relative;
    font-size: 2.8rem;
    font-weight: 700;
    text-align: center;
    color: var(--text-color);
    span {
        font-size: inherit;
    }
}
.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .image-avatar {
        width: 300px;
        height: 300px;
    }
    .image-banner {
        width: 500px;
        height: 175px;
    }
    .input-name {
        height: 44px;
        width: 250px;
        padding: 8px;
        margin-bottom: 8px;
        border-radius: 8px;
        border: 1px solid black;
    }
}

// .action {
//     height: 90px;
// }

.content {
    margin-bottom: 30px;
    .card {
        zoom: 0.9;
    }
    .main {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 600px) {
    .banner {
        margin-bottom: 50px;
        width: 100%;
        .banner-image {
            width: 100%;
            height: 230px;
            object-fit: cover;
        }
        .button-banner {
            position: absolute;
            bottom: 56px;
            right: 0px;
            zoom: 0.8;
        }
    }
    .user {
        zoom: 0.8;
        flex-direction: column;
        align-items: center;
        bottom: -60px;
        gap: 0;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .user-name {
        margin: 8px 0;
    }
    .popup {
        .image-banner {
            max-width: 300px;
            height: 150px;
        }
    }
    .action {
        height: 100px;
    }
    .content {
        margin: 8px;
        // padding: 8px;
        .main {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
    }
}
