.wrapper {
    flex: 1;
    display: flex;
    overflow: auto;
    background-color: var(--theme-color);
}

.content {
    overflow: auto;
    flex: 1;
}
.veli {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vh;
    height: 100vh;
    background-color: rgba(127, 127, 127, 0.419);
    z-index: 99;
    &.none {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .wraper {
        margin-left: 0;
        padding: 16px 8px;
        &.hide {
            margin-left: 0;
        }
    }
    .veli {
        display: block;
    }
}
